<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>Google news - Business</title>
    <style>
    p{
        font-size: 120%;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #333366;
    }
    </style>
</head>
<body>
    <p>URL: {{data.url}}</p>
    <p>Дата создания: {{data.creationDate}}</p>
    <p>Заголовки:</p>
    <ol>
        {% for i in data['articles'] %}
        <li><a href={{ i.url }}>{{ i.title }}</a></li>
        {% endfor %}
    </ol>
    <form method="post", action="/refresh" >
        <button name="refresh" type="submit">Обновить</button>
    </form>
    <form method="post", action="/other" >
        <button name="array" type="submit">Массив</button>
    </form>
</body>
</html>